<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Sidebar Menu</title>
  <link rel="stylesheet" href="../static/css/sidebar_style.css">
  <link rel="stylesheet" href="../static/css/list.css">
  <!-- Boxicons CDB Link -->
  <link href='https://unpkg.com/boxicons@2.1.2/css/boxicons.min.css' rel='stylesheet'>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
<div class="sidebar">
  <div class="logo_content">
    <a href="chatterbox.html">
      <div class="logo">
        <img src="../static/img/chatterbox_logo.png" alt="chatterbox">
      </div>
    </a>

    <i class='bx bx-menu' id="btn"></i>
  </div>
  <ul class="nav_list">
    <li>
      <a href="list.html">
        <i class='bx bx-plus-circle' ></i>
        <span class="links_name">Agregar tema</span>
      </a>
      <span class="tooltip">Agregar tema</span>
    </li>
    <li>
      <a href="#">
        <i class='bx bx-conversation' ></i>
        <span class="links_name">Tema 1</span>
      </a>
      <span class="tooltip">Tema 1</span>
    </li>
    <li>
      <a href="#">
        <i class='bx bx-user-pin'></i>
        <span class="links_name">Usuario 2</span>
      </a>
      <span class="tooltip">Usuario 2</span>
    </li>
  </ul>
  <div class="profile_content">
    <div class="profile">
      <div class="profile_details">
        <div class="icon">
          <i class='bx bx-user' ></i>
        </div>
        <div class="username">
          <span id="result"></span>
          <script>
            document.getElementById("result").innerHTML=localStorage.getItem("textvalue"); //local storage para traer el username
          </script>
        </div>
      </div>
      <div class="log_out">
        <a href="index.html">
        <i class='bx bx-log-out' id="log_out" ></i>
      </a>
      </div>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-12">
      <h1>Se agregan items dinamicamente con javascript</h1>
      <div class="input-div one">
        <div class="i">
          <i class="fas fa-user"></i>
        </div>
        <div class="div">
          <h5>Nombre del tema</h5>
          <input type="text" class="input">
        </div>
        <div class="input-group-append">
          <button onclick="addItem()" class="btn btn-add" type="button">Agregar tema</button>
        </div>
      </div>

      <ul id="dynamic-list">
        <li>tema 1</li>
      </ul>
    </div>
  </div>
</div>
<script>
  let btn=document.querySelector("#btn")
  let sidebar=document.querySelector(".sidebar")

  btn.onclick = function() {
    sidebar.classList.toggle("active");
  }
</script>
<script type="text/javascript" src="../static/js/main.js"></script>
</body>
</html>