<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Iniciar sesión</title>
    <link rel="stylesheet" type="text/css" href="../static/css/style.css">
    <link href="https://fonts.googleapis.com/css?family=Poppins:600&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/a81368914c.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
<div class="container">
    <div class="img">
        <img class="rectangle" src="../static/img/rectangle.png">
        <img class="logo" src="../static/img/smaller_chatterbox_logo.png">
    </div>
    <div class="input-content register-container">
        <form action="chatterbox.html">
            <h2 class="title">Chatterbox</h2>
            <br>
            <div class="input-div one">
                <div class="i">
                    <i class="fas fa-user"></i>
                </div>
                <div class="div">
                    <h5>Usuario*</h5>
                    <input type="text" class="input">
                </div>
            </div>
            <div class="input-div one">
                <div class="i">
                    <i class="fas fa-envelope"></i>
                </div>
                <div class="div">
                    <h5>Email*</h5>
                    <input type="email" class="input">
                </div>
            </div>
            <div class="input-div one">
                <div class="i">
                    <i class="fas fa-lock"></i>
                </div>
                <div class="div">
                    <h5>Contrase&#241;a*</h5>
                    <input type="password" class="input">
                </div>
            </div>
            <div class="input-div one">
                <div class="i">
                    <i class="fas fa-lock"></i>
                </div>
                <div class="div">
                    <h5>Confirmar contrase&#241;a*</h5>
                    <input type="password" class="input">
                </div>
            </div>
            <div class="input-div one">
                <div class="i">
                    <i class="fas fa-question"></i>
                </div>
                <div class="div">
                    <h5>Pregunta de seguridad*</h5>
                    <input type="text" class="input">
                </div>
            </div>
            <div class="input-div end">
                <div class="i">
                    <i class="fas fa-question"></i>
                </div>
                <div class="div">
                    <h5>Respuesta*</h5>
                    <input type="text" class="input">
                </div>
            </div>
            <input type="submit" class="btn" value="Registrarse">
        </form>
    </div>
    <span class="slogan-container img"><span class="slogan1">Porque tu tema de conversaci&oacute;n <span class="slogan2">importa</span></span> </span>
</div>
<script type="text/javascript" src="../static/js/main.js"></script>
</body>
</html>