<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Registro</title>
    <link rel="stylesheet" type="text/css" href="../static/css/style.css">
    <link href="../static/css/selectbox_style.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Poppins:600&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/a81368914c.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
<div class="container">
    <div class="img">
        <img class="rectangle" src="../static/img/rectangle.png">
        <img class="logo" src="../static/img/smaller_chatterbox_logo.png">
    </div>
    <div class="input-content register-container">
        <form action="index.html">
            <h2 class="title">Chatterbox</h2>
            <br>
            <div class="input-div one">
                <div class="i">
                    <i class="fas fa-user"></i>
                </div>
                <div class="div">
                    <h5>Usuario*</h5>
                    <input type="text" class="input">
                </div>
            </div>
            <div class="input-div one">
                <div class="i">
                    <i class="fas fa-envelope"></i>
                </div>
                <div class="div">
                    <h5>Email*</h5>
                    <input type="email" class="input">
                </div>
            </div>
            <div class="input-div one">
                <div class="i">
                    <i class="fas fa-lock"></i>
                </div>
                <div class="div">
                    <h5>Contrase&#241;a*</h5>
                    <input type="password" class="input">
                </div>
            </div>
            <div class="input-div one">
                <div class="i">
                    <i class="fas fa-lock"></i>
                </div>
                <div class="div">
                    <h5>Confirmar contrase&#241;a*</h5>
                    <input type="password" class="input">
                </div>
            </div>
            <br>
            <div class="select-box">
                <div class="options-container">
                    <div class="option">
                        <input type="radio" class="radio" id="first-pet"/>
                        <label for="first-pet">&iquest;Nombre de tu primera mascota?</label>
                    </div>

                    <div class="option">
                        <input type="radio" class="radio" id="question2" />
                        <label for="question2">Pregunta 2</label>
                    </div>

                    <div class="option">
                        <input type="radio" class="radio" id="question3"/>
                        <label for="question3">Pregunta 3</label>
                    </div>

                    <div class="option">
                        <input type="radio" class="radio" id="question4"/>
                        <label for="question4">Pregunta 4</label>
                    </div>

                    <div class="option">
                        <input type="radio" class="radio" id="question5"/>
                        <label for="question5">Pregunta 5</label>
                    </div>

                </div>
                <div class="selected">
                    Elegir pregunta de seguridad
                </div>
            </div>
            <div class="input-div end">
                <div class="i">
                    <i class="fas fa-question"></i>
                </div>
                <div class="div">
                    <h5>Respuesta*</h5>
                    <input type="text" class="input">
                </div>
            </div>
            <input type="submit" class="btn" value="Registrarse">
        </form>
    </div>
    <span class="slogan-container img"><span class="slogan1">Porque tu tema de conversaci&oacute;n <span class="slogan2">importa</span></span> </span>
</div>
<script type="text/javascript" src="../static/js/main.js"></script>
<script src="../static/js/select_box.js"></script>
</body>
</html>